* {
    font-family: 'Amiri', serif;
    scroll-behavior: smooth;
    background-color: #000000;

}
a{
    background-image: url("blurry-gradient-haikei (1).png");
    background-size: cover;
    border-top-left-radius: 10px 20px;
    border-bottom-right-radius: 10px 20px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 10px 30px;
    height: 20px;
    text-decoration: none;
    color: #9C27B0;
    box-shadow: 3px 3px 20px 3px rebeccapurple;
    border: none;
    text-align: center;
    margin: 10px;

}
/*a:hover{
    background-color: #009688;
    box-shadow: 4px 4px 20px 10px #009688;
    border-top-left-radius: 15px 25px;
    border-bottom-right-radius: 15px 25px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}*/
/* 
    ma
    wa
    ea
    da
    lab
    asv
    asw
    asx
 */
.ma {
    box-shadow: 10px 10px 20px 4px #09ff00;
    font-family: 'Gulzar', serif;
    background-size: cover;
    width: 50%;
    color: #09ff00;
    text-align: center;
    margin: 10px auto;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    font-size: 30px;
    transition: all 0.5s;
    padding: 2px;
    border-radius: 5%;
    height: auto;
}
.ma:hover{
    box-shadow: 10px 10px 20px 10px #09ff00;
}
.wa {
    box-shadow: 10px 10px 20px 4px #7646a7;
    font-family: 'Gulzar', serif;
    background-size: cover;
    width: 45%;
    color: #7646a7;
    text-align: center;
    margin: 10px auto;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    font-size: 30px;
    transition: all 0.5s;
    padding: 2px;
    border-radius: 5%;
    height: auto;
}
.wa:hover{
    box-shadow: 10px 10px 20px 10px #7646a7;
}
.ea {
    box-shadow: 10px 10px 20px 4px #fffb00;
    font-family: 'Gulzar', serif;
    background-size: cover;
    width: 40%;
    color: #fffb00;
    text-align: center;
    margin: 10px auto;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    font-size: 30px;
    transition: all 0.5s;
    padding: 2px;
    border-radius: 5%;
    height: auto;
}
.ea:hover{
    box-shadow: 10px 10px 20px 10px #fffb00;
}
.da {
    box-shadow: 10px 10px 20px 4px #ffa600;
    font-family: 'Gulzar', serif;
    background-size: cover;
    width: 35%;
    color: #ffa600;
    padding: 3px;
    text-align: center;
    margin: 10px auto;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    font-size: 30px;
    transition: all 0.5s;
    padding: 2px;
    border-radius: 5%;
    height: auto;
}
.da:hover{
    box-shadow: 10px 10px 20px 10px #ffa600;
}
.lab {
    box-shadow: 10px 10px 20px 4px #0026ff;
    font-family: 'Gulzar', serif;
    background-size: cover;
    width: 30%;
    color: #0026ff;
    text-align: center;
    margin: 10px auto;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    font-size: 30px;
    transition: all 0.5s;
    padding: 2px;
    border-radius: 5%;
    height: auto;
}
.lab:hover{
    box-shadow: 10px 10px 20px 10px #0026ff;
}

.asv {
    box-shadow: 10px 10px 20px 4px #E91E63;
    font-family: 'Gulzar', serif;
    background-size: cover;
    width: 30%;
    color: #E91E63;
    padding: 2px;
    text-align: center;
    margin: 20px auto;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    font-size: 30px;
    transition: all 0.5s;
    border-radius: 5%;
    height: auto;
}
.asv:hover{
    box-shadow: 10px 10px 20px 10px #E91E63;
}
.asw {
    box-shadow: 10px 10px 20px 4px #ffc859;
    font-family: 'Gulzar', serif;
    background-size: cover;
    width: 30%;
    color: #ffc859;
    padding: 2px;
    text-align: center;
    margin: 20px auto;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    font-size: 30px;
    transition: all 0.5s;
    border-radius: 5%;
    height: auto;
}
.asw:hover{
    box-shadow: 10px 10px 20px 10px #ffc859;
}
.asx {
    box-shadow: 10px 10px 20px 4px #a0cb92;
    font-family: 'Gulzar', serif;
    background-size: cover;
    width: 30%;
    color: #a0cb92;
    padding: 2px;
    text-align: center;
    margin: 20px auto;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    font-size: 30px;
    transition: all 0.5s;
    border-radius: 5%;
    height: auto;
}
.asx:hover{
    box-shadow: 10px 10px 20px 10px #a0cb92;
}





figure {
    font-family: 'Lateef', serif;
    direction: rtl;
    font-size: 2em;
    background-size: cover;
    box-shadow: 10px 10px 20px 10px goldenrod;
    width: 70%;
    height: auto;
    margin: 40px 0 40px 5%;
    padding: 10px;
    transition: all 0.5s;
    font-weight: 600;
    border-radius: 5px;
    padding: 15px;
    color: goldenrod;
}
figure:hover{
    box-shadow: 10px 10px 20px 15px #916c10;
}
figcaption {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid goldenrod;
    margin: 30px 0px;
    background-size: cover;
    border-top-right-radius: 10px 20px;
    border-bottom-left-radius: 10px 20px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 10px 10px 20px 10px goldenrod;
    transition: all 0.5s;
    color: goldenrod;
}
figcaption:hover{
    box-shadow: 10px 10px 20px 15px #916c10;
}

body{
    display: grid;
    grid-template-areas: "h h h" "t t t" "n n n" "a s s" "f f f";
    grid-template-columns: 300px 700px auto;
    grid-template-rows: 400px 150px 300px auto 500px;
    width: 100%;
    height: 600px;
    margin: 0px;
    scroll-behavior: smooth;
}
header{
    grid-area: h; 
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav {
    grid-area: n;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    background-image: url("blurry-gradient-haikei (3).png");
    background-size: cover;
    overflow: auto;
    justify-content: space-evenly;
}
nav a{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px !important;
}
section { 
    grid-area: s; 
    background-size: cover;
}
aside { 
    grid-area: a; 
    background-size: cover;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 80px 20px 0px 0px;
}
aside a{
    margin-bottom: 5px;
}

footer { 
    grid-area: f; 
    background-color: #000000;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 300px;
}
.logo {
    display: grid;
    align-items: center;
    justify-content: center;
    background-size: cover;
    box-shadow: 10px 10px 20px 0px #2196f3;
    border-radius: 30px;
    padding: 20px;
    width: 200px;
    height: 200px;
    font-size: 2em;
    transition: all 0.5s;
    color: #2196f3;
    background-color: rgb(0, 0, 0);
}
.logo:hover{
    box-shadow: 15px 15px 25px 5px #2196f3;

}
.logoo {
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url("صورة واتساب بتاريخ 2024-02-18 في 22.21.27_448a30bb.png");
    background-size: cover;
    box-shadow: 10px 10px 20px 0px #2196f3;
    border-radius: 30px;
    padding: 20px;
    width: 200px;
    height: 200px;
    font-size: 2em;
    transition: all 0.5s;
    color: #2196f3;
}
.logoo:hover{
    box-shadow: 15px 15px 25px 5px #2196f3;

}
.logo .bbb{
    font: 400 10vh "Vibur";
    color: #298cfd;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #9c27b0, 0 0 0.5em #9c27b0, 0 0 0.1em #9c27b0, 0 10px 3px #000;
}
.logo .bbb span{
    animation: blink linear infinite 2s;
}
.logo .bbb span:nth-of-type(2){
    animation: blink linear infinite 3s;
}
@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: #333;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}
div{
    margin: 40px 0;
}
strong{
    grid-area: t;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #663399;
    margin: 40px;
    background-image: url("blurry-gradient-haikei (3).png");
    background-size: cover;
    border-radius: 30px;
    font-size: 3em;
    box-shadow: 10px 10px 20px 10px #298cfd;
    padding: 20px;
    transition: all 0.5s;
    color: #2196f3;
    background-color: rgb(14, 2, 68);
}
strong:hover{
    box-shadow: 10px 10px 20px 15px #298cfd;
}
.na{
    padding: 40px;
    scrollbar-width: none !important;
}
.h {

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid purple;
    margin: 30px 0px;
    background-size: cover;
    border-top-right-radius: 10px 20px;
    border-bottom-left-radius: 10px 20px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 10px 10px 20px 10px #F44336;
    transition: all 0.5s;
    color: #F44336;
}
.h:hover{
    box-shadow: 10px 10px 20px 15px #F44336;
}
.hh , .aa {

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #9c27b0;
    margin: 30px 0px;
    background-image: url("blurry-gradient-haikei (3).png");
    background-size: cover;
    border-top-right-radius: 10px 20px;
    border-bottom-left-radius: 10px 20px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 10px 10px 20px 10px #F44336;
    transition: all 0.5s;
    color: #F44336;
}
.hh:hover{
    box-shadow: 10px 10px 20px 15px #F44336;
}
.hhh {

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #298cfd;
    margin: 30px 0px;
    background-image: url("blurry-gradient-haikei (3).png");
    background-size: cover;
    border-top-right-radius: 10px 20px;
    border-bottom-left-radius: 10px 20px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 10px 10px 20px 10px #0026ff;
    transition: all 0.5s;
    font-size: 19px;
    color: #0026ff;
}
.hhh:hover{
    box-shadow: 10px 10px 20px 15px #0026ff;
}


























p {
    font-family: 'Lateef', serif;
    font-size: 2em;
    background-image: url("blurry-gradient-haikei (6).png");
    background-size: cover;
    box-shadow: 10px 10px 20px 10px gray;
    width: 70%;
    height: auto;
    margin: 40px 0 40px 5%;
    padding: 10px;
    transition: all 0.5s;
    font-weight: 600;
    border-radius: 5px;
    direction: rtl;
}
p:hover{
    box-shadow: 10px 10px 20px 15px #a8a8a8;
}
mark{
    box-shadow: 10px 10px 20px 4px gray;
    font-family: 'Amiri', serif;
    width: 50%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 10px solid #373737;
    margin: 10px 0px;
    background-image: url("blurry-gradient-haikei (7).png");
    background-size: cover;
    font-size: 2em;
    marker: none;
    margin-left: 35%;
    position: relative;
    padding: 10px;
    line-height: 2;
    transition: all 0.5s;
    border-radius: 10px;
    direction: rtl;
}

mark:hover{
    box-shadow: 10px 10px 20px 10px #a8a8a8;
}
main{
    margin: 50px 0;
}


@media only screen and (max-width: 991px) {
    body {
        grid-template-rows: 400px 150px 300px auto  auto 500px;
        grid-template-areas: "h h h" "t t t" "n n n" "s s s" "v v v" "a a a " "f f f";
    }

    aside {
        grid-area: a;
        display: grid;
        padding: 20px;
        background-size: cover;
        overflow: auto;
        justify-content: center;
    }

    .v{
        grid-area: v;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #663399;
        margin: 40px;
        background-image: url("blurry-gradient-haikei (3).png");
        background-size: cover;
        border-radius: 30px;
        font-size: 3em;
        box-shadow: 10px 10px 20px 10px #298cfd;
        padding: 20px;
        transition: all 0.5s;
        color: #2196f3;
        background-color: rgb(14, 2, 68);
    }
    .v:hover{
        box-shadow: 10px 10px 20px 15px #298cfd;
    }

    
}
